<launch>
    <arg name="project" default="agv_sensor_fusion"/>

    <!-- Parameters -->
    <rosparam file="$(find agv_sensor_fusion)/config/KITTI_CONFIG.yaml"              command="load" />

    <node pkg="$(arg project)" type="$(arg project)_SensorFusion_GPSINS"      name="$(arg project)_SensorFusion_GPSINS"       output="screen"     respawn="true"/>

</launch>
